@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #DDDDDD;
  --foreground: #323232;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  position: relative;
  z-index: 2;
}

#navPointer {
  z-index: 1;
  position: absolute;
  top: 0.6em;
  left: 1em;
  background-color: #bada55;
  height: 1.8em;
  transition: transform 0.25s ease-in-out;
  border-radius: 0.3em;
  will-change: transform;
  backface-visibility: hidden;
}

.Typewriter{
  display: inline;
}

.aboutContainer {
  position: relative; /* Create a positioning context for absolutely positioned children */
  height: 100vh; /* Full viewport height or set it to your desired height */
}

.aboutContainer img {
  object-fit: cover; /* Make sure the image covers the entire area */
  position: absolute; /* Position image absolutely within the container */
  z-index: 0;
}

.content {
  position: absolute; /* Position content absolutely */
  z-index: 0; /* Ensure content is above the background image */
}

